/********** Base styles **********/
* {
    box-sizing: border-box;
    font-family: Arial;
}

h1 {
    text-align: center;
    font-size: 175%
}

/* Top-level Box */
.tlbox {
    background-color: #D3D3D3;
    border: 2px solid black;
    padding: 15px;
    padding-top: 50px;
    margin: 15px;
    position: relative;
}

/* Embedded Box */
.ebox {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.chicken {
    background-color: pink;
    color: black;
}

.beef {
    background-color: red;
    color: white;
}

.sushi {
    background-color: yellow;
    color: black;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/* Desktop */
@media (min-width:992px) {
    .col-dt-1, .col-dt-2, .col-dt-3 {
        float: left;
    }

    .col-dt-1 {
        width: 33.33%;
    }

    .col-dt-2 {
        width: 50%;
    }

    .col-dt-3 {
        width: 100%;
    }

}

/* Tablet */
@media (min-width:768px) and (max-width:991px) {
    .col-tb-1, .col-tb-2, .col-tb-3 {
        float: left;
    }

    .col-tb-1 {
        width: 33.33%;
    }

    .col-tb-2 {
        width: 50%;
    }

    .col-tb-3 {
        width: 100%;
    }

}

/* Mobile */
@media (max-width:767px) {
    .col-mo-1, .col-mo-2, .col-mo-3 {
        float: left;
    }

    .col-mo-1 {
        width: 33.33%;
    }

    .col-mo-2 {
        width: 50%;
    }

    .col-mo-3 {
        width: 100%;
    }

}

}