/********** Base styles **********/
* {
    box-sizing: border-box;
}

/* Top-level Box */
.tlbox {
    background-color: #D3D3D3;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    box-sizing: ;
}

/* Embedded Box */
.ebox2 {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    margin: -15px;
    width: 33.33%;
    text-align: center;
    height: 50px;
    position: absolute;
}

.ebox {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
}

/* Simple Responsive Framework. */
.row {
    width: 100%;
}

/* Desktop */
@media (min-width:992px) {
    .col-dt-1, .col-dt-2, .col-dt-3 {
        float: left;
    }

    .col-dt-1 {
        width: 33.33%;
    }

    .col-dt-2 {
        width: 50%;
    }

    .col-dt-3 {
        width: 100%;
    }
}

/* Tablet */
@media (min-width:768px) and (max-width:991px) {
    .col-tb-1, .col-tb-2, .col-tb-3 {
        float: left;
    }

    .col-tb-1 {
        width: 33.33%;
    }

    .col-tb-2 {
        width: 50%;
    }

    .col-tb-3 {
        width: 100%;
    }
}

/* Mobile */
@media (max-width:767px) {
    .col-mo-1, .col-mo-2, .col-mo-3 {
        float: left;
    }

    .col-mo-1 {
        width: 33.33%;
    }

    .col-mo-2 {
        width: 50%;
    }

    .col-mo-3 {
        width: 100%;
    }
}

}